.iframeContainer {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#articleIframe {
  width: 100%;
  border: none;
}

.goBack {
  display: block;
  margin: auto;
}
