.el-aside {
    background-color: #D3DCE6;
    color: #333;
    padding: 20px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
}

.logo {
    text-align: center;
    margin-bottom: 20px
}

.logo img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: auto;
}